<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168069773129-fb96pbke4rka2b58mn60a2p9m6iuqdhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168069773129-fb96pbke4rka2b58mn60a2p9m6iuqdhe</string>
	<key>API_KEY</key>
	<string>AIzaSyCxCJE2fnvdW5h1vjXzIzNQqdTcq8FxMDk</string>
	<key>GCM_SENDER_ID</key>
	<string>168069773129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vpatient</string>
	<key>PROJECT_ID</key>
	<string>vpatient</string>
	<key>STORAGE_BUCKET</key>
	<string>vpatient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168069773129:ios:bbe1ce5134b1314564cc98</string>
</dict>
</plist>